*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.container:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../imagens/ahmed-amir-jAA28GP8JVo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(10px);   
}
.contacBox{
    max-width: 1200px;
    height: 80vh;
    margin: 30px;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
    overflow: hidden;
    
}
.left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.baner{
    width: 100%;
    height: 100%;
}
.baner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right{
    background: rgba(255, 255, 255, 0.144);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; 
    max-height: 600px;
    overflow: hidden;
}
.logo{
    width: 90%;
   margin-top: 100px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.textBox{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 30px;
}
.textBox input{
    width: 90%;
    height: 30px;
    border: none;
    text-align: center;
    margin: 5px;   
}
.textBox .nome{
    border-radius: 20px 20px 0 0 ;
}
.textBox p{
    color: rgb(230, 131, 3);
    background: rgba(255,255 ,255,0.4);
    font-size: 30px;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin: 10px 0 ;
    font-weight:bold;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;   
}
.textBox a{
    margin:5px;
    width: 90%;
    height: 30px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight:bold;
    text-align: center;
    background: rgba(250, 79, 0, 0.8);
    border-radius: 0 0  20px 20px ;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.61);
}
a:hover{
    background: rgba(250, 79, 0, 0.61);
}
.atribuicao{
    width: 100%;
    min-height: 30px;
    position: absolute;
    bottom:0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
span{
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    font-weight: 800;
}
.atribuicao a{
    height:40px ;
    background: rgba(250, 79, 0, 0.39);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    
}
.atribuicao span{
    margin: 0;
}
.atribuicao a:hover{
    background: rgba(250, 79, 0, 0.8);
}
@media (max-width:999px) {


    .contacBox{
        min-height: 90vh;
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
        position: relative;
    }
    .logo{
        position: relative;
    }
    .left{
        position: relative;
        height: 100%;
    }
    .right{
        position: absolute;
        background: none;
        width: 100%;
        height: 100%;
    }a{
        width: 100%;
    }
    span{
        width: 100%;
    }
    .textBox input{
        width: 100%;
    }
    .textBox{
        width: 100%;
    }
    .atribuicao{
        width: 100%;
        bottom: 0px;
    }
    .textBox a{
        width: 100%;
    }
}