*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.container:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../imagens/ahmed-amir-jAA28GP8JVo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(10px);   
}
.contacBox{
    max-width: 1200px;
    height: 80vh;
    margin: 30px;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
    overflow: hidden;
}
.left{
    background-color: violet;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.baner{
    width: 100%;
    height: 100%;
}
.baner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right{
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.logo{
    position: relative;
    width: 90%;
}

.logo img{
    width: 100%;
    height: 100%;
}

.textBox{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
}

.textBox input{
    width: 90%;
    height: 30px;
    margin: 5px 0;
    border-radius: 20px 20px 0 0 ;
    border: none;
    text-align: center;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.61);
}
.textBox p{
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin: 10px 0 ;
    font-weight:bold;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;   
}

a{
    width: 90%;
    height: 30px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight:bold;
    text-align: center;
    background: rgba(250, 79, 0, 0.8);
    border-radius: 0 0  20px 20px ;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.61);
}

.atribuicoa{
    width: 80%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px 10px;
}
span{
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 30px;
    border-radius: 20px 20px 0 0 ;
    text-align: center;
    padding: 5px;
    font-weight: 800;
}
.atribuicoa a{
    width: 100%;   
}

@media (max-width:999px) {


    .contacBox{
        min-height: 90vh;
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
        position: relative;
    }

    .logo{
        position: relative;
    }

    .left{
        position: relative;
        height: 100%;
    }
    .right{
        position: absolute;
        width: 90%;
        height: 90%;
        margin: 5%;
        border-radius: 10px;
    }
    
}